[Unit]
Description=Hourly Snapper snapshot creation/cleanup
After=dbus.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/snapper-hourly
IOSchedulingClass=idle